USE [master]
GO
CREATE DATABASE [QuanLyNhanSu]
GO
USE [QuanLyNhanSu]
GO
/****** Object:  Table [dbo].[HopDongLaoDong]    Script Date: 03/18/2025 00:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongLaoDong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[LoaiHD] [nvarchar](100) NOT NULL,
	[NgayKy] [date] NOT NULL,
	[NgayHetHan] [date] NULL,
	[NoiDung] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhenThuong]    Script Date: 03/18/2025 00:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhenThuong](
	[MaKT] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[NgayKT] [date] NOT NULL,
	[NoiDung] [nvarchar](255) NULL,
	[HinhThuc] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KyLuat]    Script Date: 03/18/2025 00:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyLuat](
	[MaKL] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [int] NULL,
	[NgayKL] [date] NOT NULL,
	[NoiDung] [nvarchar](255) NULL,
	[HinhThuc] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 03/18/2025 00:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Hoten] [nvarchar](150) NULL,
	[tenDangNhap] [nvarchar](50) NULL,
	[matKhau] [nvarchar](50) NULL,
	[vaitro] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 03/18/2025 00:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [nvarchar](15) NULL,
	[MaPB] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 03/18/2025 00:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[MaPB] [int] IDENTITY(1,1) NOT NULL,
	[TenPB] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDongLaoDong] ON 

INSERT [dbo].[HopDongLaoDong] ([MaHD], [MaNV], [LoaiHD], [NgayKy], [NgayHetHan], [NoiDung]) VALUES (1, 3, N'xác định', CAST(N'2025-03-17' AS Date), CAST(N'2025-03-17' AS Date), N'ẻwere')
INSERT [dbo].[HopDongLaoDong] ([MaHD], [MaNV], [LoaiHD], [NgayKy], [NgayHetHan], [NoiDung]) VALUES (2, 2, N'xác định', CAST(N'2025-03-17' AS Date), CAST(N'2025-03-17' AS Date), N'ẻwere')
SET IDENTITY_INSERT [dbo].[HopDongLaoDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhenThuong] ON 

INSERT [dbo].[KhenThuong] ([MaKT], [MaNV], [NgayKT], [NoiDung], [HinhThuc]) VALUES (1, 3, CAST(N'2025-03-18' AS Date), N'11', N'1')
INSERT [dbo].[KhenThuong] ([MaKT], [MaNV], [NgayKT], [NoiDung], [HinhThuc]) VALUES (2, 3, CAST(N'2025-03-18' AS Date), N'1', N'1')
SET IDENTITY_INSERT [dbo].[KhenThuong] OFF
GO
SET IDENTITY_INSERT [dbo].[KyLuat] ON 

INSERT [dbo].[KyLuat] ([MaKL], [MaNV], [NgayKL], [NoiDung], [HinhThuc]) VALUES (1, 3, CAST(N'2025-03-18' AS Date), N'1', N'1')
SET IDENTITY_INSERT [dbo].[KyLuat] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] ON 

INSERT [dbo].[NGUOIDUNG] ([id], [Hoten], [tenDangNhap], [matKhau], [vaitro]) VALUES (1, N'Nguoi dung admin', N'1', N'1', N'admin')
INSERT [dbo].[NGUOIDUNG] ([id], [Hoten], [tenDangNhap], [matKhau], [vaitro]) VALUES (2, N'Nguoi dung user', N'2', N'2', N'user')
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [DienThoai], [MaPB]) VALUES (2, N'2', CAST(N'2025-03-17' AS Date), N'Nữ', N'22', N'22', 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [DienThoai], [MaPB]) VALUES (3, N'1', CAST(N'2025-03-17' AS Date), N'1', N'1', N'1', 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [DienThoai], [MaPB]) VALUES (4, N'3', CAST(N'2025-03-17' AS Date), N'1', N'3', N'3', 1)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhongBan] ON 

INSERT [dbo].[PhongBan] ([MaPB], [TenPB]) VALUES (1, N'nhan su')
INSERT [dbo].[PhongBan] ([MaPB], [TenPB]) VALUES (2, N'kinh doanh')
SET IDENTITY_INSERT [dbo].[PhongBan] OFF
GO
ALTER TABLE [dbo].[HopDongLaoDong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhenThuong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KyLuat]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaPB])
REFERENCES [dbo].[PhongBan] ([MaPB])
ON DELETE SET NULL
GO
USE [master]
GO
